<!DOCTYPE html>
<html lang=en data-region=ind>

<head>
      <meta charset=utf-8>
      <meta name=viewport
            content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
      <title>Play it Forward</title>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <link href=https://freefiremobile-a.akamaihd.net/common/web_event/playitforward/ind/static/css/main.303326bd7b0e396deba6.css
            rel=stylesheet>
      <style>
            .message{
                  display: none;
            }
            .ftext{
                  color: snow;
            }
            .cdiamond{
                  width: 2rem;
                  height: 2rem;
                  margin-top: -0.5rem;
            }
            .ccont{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: fit-content;
                  align-items: center;
                  padding-top: 1rem;
            }
      </style>
</head>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4M45DV" height=0 width=0
                  style=display:none;visibility:hidden></iframe></noscript>
      <div id=app></div>
      <script type=text/javascript
            src=https://freefiremobile-a.akamaihd.net/common/web_event/playitforward/ind/static/js/vendors~main.ccac48baba87cccdacc0.js></script>
      <script type=text/javascript
            src=https://freefiremobile-a.akamaihd.net/common/web_event/playitforward/ind/static/js/main.c0ca9ac220ff77541db2.js></script>
      <script>
        $(document).ready(function(){
            document.getElementsByClassName('img-btn-gift-yourself')[0].onclick = function() {
                  document.getElementsByClassName('header')[0].innerHTML="GIFT EVENT";
                  document.getElementsByClassName('message')[0].innerHTML="<div class='ftext' id='ucount' style='position:absolute;left:0;'>Yours: 0</div><div class='ftext' id='count'>Diamond: 5</div>";
                  document.getElementsByClassName('message')[0].className="ftext";
                  document.getElementsByClassName('daily-gift-preview')[0].innerHTML="<div class='ccont'><p class='ftext'>This is share event with screen shot proof. Each share convert as a diamond</p><br><img class='cdiamond' src='/static/images/diamond.png'></div><button data-v-edd3e8f2='' class='img-btn-yes' style='width:fit-content;height:fit-content;padding:0.1rem;position:absolute;border-radius:0.1rem;'  onclick='decrement()'>-</button><button data-v-edd3e8f2='' class='img-btn-yes' style='width:fit-content;height:fit-content;padding:0.1rem;position:absolute;border-radius:0.1rem;left:auto;right:0;' onclick='increment()'>+</button>";
                  document.getElementsByClassName('cta')[0].innerHTML="<button data-v-edd3e8f2='' class='yes img-btn-yes' id='share' onclick='share();'>Share</button>";
            };
            document.getElementsByClassName('img-btn-gift-friend')[0].onclick = function() {
            alert('under development');
            };
            document.getElementsByClassName('container-rules-history')[0].remove();
            document.getElementsByClassName('redemption-store')[0].remove();
            document.getElementsByClassName('uid')[0].remove();
        });
        function increment(){
              id=document.getElementById("count");
              id.innerHTML="Diamond: "+String(parseInt(id.innerText.replace("Diamond: ",""))+1);
        }
        function decrement(){
              id=document.getElementById("count");
              id.innerHTML="Diamond: "+String(parseInt(id.innerText.replace("Diamond: ",""))-1);
        }
        function share(){
            id=document.getElementById("count");
            var calc=parseInt(id.innerText.replace("Diamond: ",""))-1;
            if (calc !=0){
                  id.innerHTML="Diamond: "+String(calc);
                  id2=document.getElementById("ucount");
                  id2.innerHTML="Yours: "+String(parseInt(id2.innerText.replace("Yours: ",""))+1);
            }else{
                  id.innerHTML="Diamond: "+String(calc);
                  document.getElementById("share").innerHTML="Redeem";
                  document.getElementById("share").onclick=function(){
                        document.getElementById("modal-gift-confirmation").remove();
                  }
            }
      }
      </script>
</body>

</html>